meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
link(rel='stylesheet', href='/stylesheets/weui.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/weui.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
script(src="/javascripts/lib/vue.js")
script(src="/javascripts/lib/bootstrap.min.js")
block content
h1.center_text 臻品食材
div(style="position: relative;")
    div.center_text(style="position: absolute;text-align:center;width:100%;")
        p #{t1}
        p 04/10~04/20  进行中
        button 预定
    a(href="field")
        img(src='#{pic1}' style="text-align:center;width:100%;")
div(style="height:5px;")
div(style="position: relative;")
    div.center_text(style="position: absolute;text-align:center;width:100%;")
        p #{t2}
        p 06/10~06/20  进行中
        button 预定
    a(href="field")
        img(src='#{pic2}' style="text-align:center;width:100%;")
