meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
link(rel='stylesheet', href='/stylesheets/weui.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/weui.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
script(src="/javascripts/lib/vue.js")
script(src="/javascripts/lib/bootstrap.min.js")
block content
h1.center_text 观赏采摘
div(style="position: relative;")
    div.center_text(style="position: absolute;text-align:center;width:100%;")
        p 草莓季等你来
        p 04/10~04/20  进行中
    a(href="field")
        img(src="http://placehold.it/1200x400?text=one" style="text-align:center;width:100%;")
div(style="height:5px;")
div(style="position: relative;")
    div.center_text(style="position: absolute;text-align:center;width:100%;")
        p 鲜橙季等你来
        p 06/10~06/20  进行中
    a(href="field")
        img(src="http://placehold.it/1200x400?text=one" style="text-align:center;width:100%;")